# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.DS_Store

# Build artifacts
*.egg-info/
build/
dist/

# Environments
.env
.env.*
!.env.example

# Data / runtime
/data/*.json
/data/*.log
userconfig/

# Py test cache
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
